<%= simple_form_for([@room, @booking]) do |f| %>
  <%= f.input :date, input_html: { class: 'hour-input', id: 'hour-input', min: 1 } %>
  <%= f.input :from %>
  <%= f.input :hours, input_html: {
    class: 'hour-input',
    id: 'hour-input',
    min: 1,
    data: {
      action: "change->booking-form#calculation"
      }
    } %>
  <%= f.button :submit, class: "btn btn-primary"%>
  <p>Total price: ¥ <span id="total-price" data-booking-form-target="totalPrice" ><%= @room.price_per_hour %></span></p>
<% end %>
