<%= simple_form_for([@room, @booking]) do |f| %>
  <% f.input :date, input_html: { class: 'hour-input', id: 'hour-input', min: 1 } %>
  <%= f.input :startFrom, label: "From:" %>
  <%= f.input :hours, input_html: {
    class: 'hour-input',
    id: 'hour-input',
    min: 1,
    data: {
      action: "change->booking-form#calculation"
      }
    } %>
    <%= f.input :comment, label: "Operation details:" %>
  <p>Total price: ¥ <span id="total-price" data-booking-form-target="totalPrice" ><%= @room.price_per_hour %></span></p>
  <%= f.button :submit, class: "btn btn-primary"%>
<% end %>


<script>
  // Get the hour input field and the total price element
  const hourInput = document.getElementById('hour-input');
  const totalPrice = document.getElementById('total-price');

  // Add an event listener to the hour input field
  hourInput.addEventListener('input', function() {
    // Calculate the new total price based on the input value and room price per hour
    const hours = parseInt(hourInput.value);
    const pricePerHour = parseInt('<%= @room.price_per_hour.to_i %>');
    const newTotalPrice = hours * pricePerHour;

    // Update the total price element with the new value
    totalPrice.textContent = newTotalPrice;
  });
</script>
