<p><% @bookings.each do |booking| %></p>
<p><%= booking.room.name %></p>
<p><%= booking.user.first_name %></p>
<p><%= booking.user.last_name %></p>
<p><%= booking.date %></p>
<p><%= booking.from %></p>
<p><%= booking.hours %></p>
<p><% end %></p>
