<div class="flex">
<div class="container flex-1 flex flex-col">
<h1 class="ml-12 my-12 text-2xl font-bold">My bookings:</h1>




  <ul class="flex flex-wrap text-sm font-medium ml-8 text-center text-gray-500 border-b border-gray-200" id="myTab" role="tablist">
  <li class="mr-2" role="presentation">
    <span class="inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg active" id= <%="#{params[:tab]}-tab"%> data-bs-toggle="tab" data-bs-target="#bookings-tab-pane" role="tab" aria-controls="bookings-tab-pane" aria-selected="true"><%= link_to "Pending", bookings_path(tab: "pending") %></span>
  </li>
  <li class="mr-2" role="presentation">
    <span class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50" id=<%="#{params[:tab]}-tab"%> data-bs-toggle="tab" data-bs-target="#requests-tab-pane" role="tab" aria-controls="requests-tab-pane" aria-selected="false"><%= link_to "Upcoming", bookings_path(tab: "upcomming") %></span>
  </li>
</ul>
<div class="tab-content" id="myTabContent">

</div>


  <% @bookings.each do |booking| %>
    <div
      class="
        block
        rounded-lg
        bg-white
        p-6
        w-96
        ml-12
        my-8
        shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
      ">
      <h5
        class="
          mb-2
          text-xl
          font-medium
          leading-tight
          text-neutral-800
        ">
        <p><%= booking.room.name %></p>
      </h5>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        <p>Date: <%= booking.date %></p>
        <p><%= booking.startFrom %></p>
        <p>Duration: <%= booking.hours %></p>

      </p>
      <button
        type="button"
        class="
          inline-block
          rounded
          bg-slate-500
          px-6
          pb-2
          mt-4
          pt-2.5
          text-xs
          font-medium
          uppercase
          leading-normal
          text-white
          shadow-[0_4px_9px_-4px_#3b71ca]
          transition
          duration-150
          ease-in-out
          hover:bg-primary-600
          hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
          focus:bg-primary-600
          focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
          focus:outline-none
          focus:ring-0
          active:bg-primary-700
          active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
        "
        data-te-ripple-init
        data-te-ripple-color="light">
        More Info
      </button>
            <button
        type="button"
        class="
          inline-block
          rounded
          bg-red-500
          px-6
          pb-2
          mt-4
          pt-2.5
          text-xs
          font-medium
          uppercase
          leading-normal
          text-white
          shadow-[0_4px_9px_-4px_#3b71ca]
          transition
          duration-150
          ease-in-out
          hover:bg-primary-600
          hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
          focus:bg-primary-600
          focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
          focus:outline-none
          focus:ring-0
          active:bg-primary-700
          active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
        "
        data-te-ripple-init
        data-te-ripple-color="light">
      <%= link_to "Cancel", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Cancel your appointment for room: #{booking.room.name}?" }  %>
      </button>

    </div>

  <% end %>
</div>

<div class="flex-1 container mt-12 mr-16">
  <h1 class="text-2xl font-bold mb-8">My Calandar:</h1>
  <%= month_calendar(events: @bookings) do |date, bookings| %>

    <%= date.day %>

    <% bookings.each do |booking| %>
      <p class="font-semibold text-sm"><%= booking.room.category %></p>
    <% end %>
  <% end %>

</div>

</div>

<script>
// Initialization for ES Users
import {
  Ripple,
  initTE,
} from "tw-elements";

initTE({ Ripple });
</script>
