<p><% @bookings.each do |booking| %></p>
<p><%= booking.room.name %></p>
<p><%= booking.user.first_name %></p>
<p><%= booking.user.last_name %></p>
<p><%= booking.date %></p>
<p><%= booking.start_time %></p>
<p><%= booking.end_time %></p>
<p><% end %></p>
