<p>See your bookings</p>
<%#= current_user.rooms.first.facility_name ? current_user.rooms.first.facility_name : "Add your first room" %> <hr>
<%= current_user.first_name %> <br><br>


<p>Your upcomming bookings</p> <hr>
<% @upcomming.each do |booking| %>
<%= booking.room.name %>
<%= booking.user.first_name %>
<%= booking.comment %> <br>
<% end %> <br>
<%# need to add a method to only show accepted bookings %>

<p>Your open bookings</p> <hr>
<% @requests.each do |request| %>
<%= request.room.name %>
<%= request.status %>
<%= request.comment %> <br>
<%#= link_to "Accept", # %> <%#= link_to "Decline", # %>
<% end %> <br>
<%# need to add method to only show not accepted bookings %>


<%# need to add pundit to only show rooms of that user %>
<%= link_to "Your Rooms", hospital_rooms_path %>
<%= link_to "List Room", new_room_path %>
