<div class="flex justify-between">
  <div class="my-4 px-4">
    <h2 class="text-4xl font-bold dark:text-black">Your Rooms</h2>
  </div>
  <div class="my-4 px-4">
    <%= link_to "Your Bookings", hospital_bookings_path, class: "text-slate-100 bg-blue-500 hover:text-blue-700 hover:bg-white active:bg-blue-600 font-bold py-2 px-4 mx-2" %>
    <%= link_to "List Room", new_room_path, class: "text-slate-100 bg-blue-500 hover:text-blue-700 hover:bg-white active:bg-blue-600 font-bold py-2 px-4 mx-2" %>
  </div>
</div>
<!-- room name, equipments, capacity, price -->
<div class="flex flex-col space-y-4 mx-2 py-2">
  <% @rooms.each do |room| %>
    <div class="h-32 max-w-sm w-1/2 lg:max-w-full flex px-2">
      <div class="h-48 lg:h-auto lg:w-48 flex-none bg-center bg-cover rounded-t lg:rounded-t-none lg:rounded-l overflow-hidden" >
        <%= cl_image_tag room.photos.first.key, alt: "room image", class: 'roomPic rounded-t-lg bg-cover w-full h-80 bg-center object-cover' %>
      </div>
      <div class="grow align-middle shadow bg-white rounded-b lg:rounded-b-none lg:rounded-r px-4 py-2 flex flex-col justify-between leading-normal">
        <div class="mb-8">
          <div class="text-gray-900 font-bold text-lg mb-2"><%= room.name %></div>
          <p class="text-gray-700 text-justify text-ellipsis overflow-hidden">Price: ¥<%= room.price_per_hour %> /hr</p>
          <!--
          <p class="text-gray-700 text-justify text-ellipsis overflow-hidden">Capacity: <%= room.capacity %></p>
          -->
          <p class="text-gray-700 text-justify text-ellipsis overflow-hidden">Equipments: <%= room.equipment %></p>
          <%= link_to "Edit", edit_hospital_room_path(room) %>
          <%= link_to "Delete", hospital_room_path(room), data: { turbo_method: :delete, turbo_confirm: "Delete #{room.name} ?"} %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>
