<div class="m-12">


<%= simple_form_for(@room) do |f| %>
  <%= f.input :name %>
  <%= f.input :facility_name %>
  <%= f.input :category, collection: Room::CATEGORIES, selected: "General Surgery" %>
  <%= f.input :equipment, collection: Room::EQUIPMENTS, selected: "" %>
  <%= f.input :address, label: "Address" %>
  <%= f.input :price_per_hour %>
  <%= f.input :capacity, collection: (1..20).to_a %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit class: "
          inline-block
          rounded
          bg-slate-500
          px-6
          pb-2
          mt-4
          pt-2.5
          text-xs
          font-medium
          uppercase
          leading-normal
          text-white
          shadow-[0_4px_9px_-4px_#3b71ca]
          transition
          duration-150
          ease-in-out
          hover:bg-primary-600
          hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
          focus:bg-primary-600
          focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
          focus:outline-none
          focus:ring-0
          active:bg-primary-700
          active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
        " %>
<% end %>
</div>
