<% picture = ["OR1", "OR2", "OR3", "OR5"] %>
<%= link_to "I'm a hospital", hospital_bookings_path%>
<%= render "shared/banner" %>

<%= render "shared/date" %>

<div class="mx-4 mt-6">
<div class="grid grid-cols-3 gap-6">
  <% @rooms.each do |room| %>
  <div
  class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
    <%= link_to room_path(room) do %>
    <img
      class="rounded-t-lg h-80"
      src=<%= asset_path(picture.sample) %>
      alt= "" />
  <% end %>
  <div class="p-6">
   <h5
      class="mb-2 text-md font-medium text-neutral-800 flex justify-between">
        <p class="font-bold text-md"><%= room.name %></p>
        <p class="font-bold text-md"><%= room.category %></p>
  </h5>

    <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
      <div class="flex justify-between">
        <p>Location: </p>
       <p><%= room.location %></p>
      </div>
      <div class="flex justify-between">
        <p>Price: <%= room.price_per_hour %> ¥/h</p>
        <p>Capacity: <%= room.capacity %> People</p>
      </div>
    </p>
    </button>
  </div>
</div>
<% end %>
</div>
