<h1><% @rooms.each do |room| %></h1>
<p><%= room.name %></p>
<p><%= room.facility_name %></p>
<p><%= room.equipment %></p>
<p><%= room.category %></p>
<p><%= room.location %></p>
<p><%= room.price_per_hour %></p>
<p><%= room.capacity %></p>
<%= link_to 'room', room_path(room) %>
<% end %>
