<%= @room.name %>
<%= @room.facility_name %>
<%= @room.location %>
<%= @room.price_per_hour %>
<%= @room.capacity %>
<%= link_to 'Main page', rooms_path %>


  <div
    class="container"
    data-controller="booking-form"
    data-booking-form-room-price-value="<%= @room.price_per_hour %>">
    <h1>Book a room</h1>
    <%= render 'bookings/form'%>
  </div>
